*{
    margin: auto;
    box-sizing: border-box;
}

.search-params{
    background-color: bisque;
    width: max-content;
    padding: 15px;
    border-radius: 10px;
}

.petForm{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    text-align: left;
}